<li class="list-group-item" ng-class="vm.item.active ? 'item-unchecked' : 'item-checked'">
    <i
            class="glyphicon icon-state"
            ng-class="vm.item.active ? 'glyphicon-unchecked': 'glyphicon-check'"
            ng-click="vm.handleToggle()">
    </i>
    {{vm.item.title}}
    <a ng-href="#!/todos/{{vm.item.id}}">
        <i class="glyphicon glyphicon-edit icon-edit"></i>
    </a>
    <i
            ng-hide="vm.item.active"
            class="glyphicon glyphicon-remove icon-remove"
            ng-click="vm.handleRemove()">
    </i>
</li>